# What drives the price of a car?

![](images/kurt.jpeg)

In [67]:
import statsmodels.api as sm
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from warnings import filterwarnings 
filterwarnings('ignore')
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.metrics import mean_squared_error

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

**OVERVIEW**

In this application, you will explore a dataset from kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

### Data Problem Definition:  

The goal is to identify and model the relationships between used car prices and relevant predictor variables (also known as features) from historical sales data. This involves selecting, extracting, transforming, and analyzing a dataset containing information on used cars, including price, make, model, year, mileage, condition, trim level, location, and other relevant attributes, to develop a predictive model that captures the key drivers of used car prices. 

In this formulation: 

    Predictor variables  refer to the input features (e.g., make, model, year) that may influence used car prices.
    Target variable  is the outcome or response we're interested in predicting (used car price).
    Goal  is to develop a predictive model that can accurately estimate used car prices based on the predictor variables.
     

This reframed task aligns with the CRISP-DM methodology, which emphasizes a structured approach to data science projects.

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

In [68]:
vehicles_df = pd.read_csv('data/vehicles.csv', low_memory=False)

In [69]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [70]:
vehicles_df.sample(10)

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state
56930,7314919661,san diego,7500,2014.0,volkswagen,passat 1.8t wolfsburg,excellent,5 cylinders,gas,123000.0,clean,automatic,NaN,NaN,compact,sedan,grey,ca
77243,7315843550,denver,7500,2007.0,honda,cr-v,excellent,4 cylinders,gas,176000.0,clean,automatic,NaN,4wd,NaN,NaN,white,co
35156,7315746985,los angeles,39990,2018.0,tesla,model 3 long range sedan,good,NaN,hybrid,28456.0,clean,other,5YJ3E1EA9JF018893,rwd,NaN,sedan,NaN,ca
225960,7309462711,bozeman,2500,2009.0,volvo,cross country,good,6 cylinders,gas,200000.0,clean,automatic,NaN,4wd,mid-size,wagon,NaN,mt
383656,7308828892,tyler / east TX,6500,2003.0,gmc,yukon,excellent,8 cylinders,gas,148000.0,clean,automatic,NaN,rwd,full-size,SUV,brown,tx
285900,7309271664,bismarck,21990,2016.0,chevrolet,express 3500 van,good,8 cylinders,gas,140305.0,clean,automatic,1GB0GRFG1G1117020,rwd,full-size,van,white,nd
268034,7304242754,buffalo,11111,1955.0,chevrolet,NaN,NaN,NaN,gas,231654.0,clean,other,NaN,rwd,NaN,NaN,NaN,ny
33758,7316462393,los angeles,9990,2013.0,ford,e-series cargo e-150,NaN,8 cylinders,other,180736.0,clean,automatic,1FTNE1EL8DDA91162,rwd,NaN,van,white,ca
264809,7308801159,albany,3999,2008.0,hyundai,elantra,good,4 cylinders,gas,111000.0,clean,automatic,NaN,fwd,mid-size,sedan,silver,ny
10361,7316725114,phoenix,30000,2019.0,volvo,s60,NaN,4 cylinders,gas,14383.0,clean,automatic,7JR102FK1KG007687,fwd,NaN,NaN,white,az

In [71]:
nan_rows = vehicles_df.isnull().T.any().T.sum()

In [72]:
nan_rows

392012

In [73]:
unique_values = vehicles_df['fuel'].unique()
print(unique_values)

[nan 'gas' 'other' 'diesel' 'hybrid' 'electric']

In [74]:
# Filter rows where the 'condition' is 'like new' and 'fuel' is 'gas'
filtered_df = vehicles_df[(vehicles_df['fuel'] == 'other')]

### Data Preparation

After our initial exploration and fine tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

In [75]:
# Handle Missing Values in 'cylinders' and 'drive'
vehicles_df['cylinders'] = vehicles_df['cylinders'].fillna('unknown')
vehicles_df['drive'] = vehicles_df['drive'].fillna('unknown')

# Drop Irrelevant Columns
columns_to_drop = ['VIN', 'size', 'Unnamed: 18']
vehicles_df_cleaned = vehicles_df.drop(columns=columns_to_drop, errors='ignore').copy()

# Remove Rows with Missing Essential Data and Zero Price
essential_columns = ['price', 'year', 'manufacturer', 'model']
vehicles_df_cleaned.dropna(subset=essential_columns, inplace=True)
vehicles_df_cleaned = vehicles_df_cleaned[vehicles_df_cleaned['price'] != 0]

# Remove Specific Manufacturers
vehicles_df_cleaned = vehicles_df_cleaned[vehicles_df_cleaned['manufacturer'].str.lower() != 'harley-davidson']

# Clean the 'cylinders' column
def clean_cylinders(value):
    try:
        # Attempt to extract the number before the word "cylinders"
        if isinstance(value, str) and value.lower() != 'other' and 'cylinder' in value:
            return int(value.split()[0])
        else:
            return 0  # Set as 0 for "other" or "unknown" values
    except ValueError:
        return 0  # Fallback in case the string isn't in the expected format

vehicles_df_cleaned['cylinders'] = vehicles_df_cleaned['cylinders'].apply(clean_cylinders)

# Populate the 'cylinders_drive' Dictionary
cylinders_drive_df = vehicles_df_cleaned[
    (vehicles_df_cleaned['cylinders'] != 0) &
    (vehicles_df_cleaned['drive'] != 'unknown')
].drop_duplicates(subset='model')[['model', 'cylinders', 'drive']]
cylinders_drive = cylinders_drive_df.set_index('model')[['cylinders', 'drive']].to_dict('index')
cylinders_drive = {model: [info['cylinders'], info['drive']] for model, info in cylinders_drive.items()}

# Fill 'cylinders' and 'drive' Based on 'model'
def fill_cylinders(row):
    if row['cylinders'] == 0:
        return cylinders_drive.get(row['model'], [row['cylinders'], 'unknown'])[0]
    return row['cylinders']

def fill_drive(row):
    if row['drive'] == 'unknown':
        return cylinders_drive.get(row['model'], ['unknown', row['drive']])[1]
    return row['drive']

vehicles_df_cleaned['cylinders'] = vehicles_df_cleaned.apply(fill_cylinders, axis=1)
vehicles_df_cleaned['drive'] = vehicles_df_cleaned.apply(fill_drive, axis=1)

# Remove Rows with Remaining 'unknown' Values
vehicles_df_cleaned = vehicles_df_cleaned[
    (vehicles_df_cleaned['cylinders'] != 0) &
    (vehicles_df_cleaned['drive'] != 'unknown')
]

# Convert 'year' to Datetime and Calculate 'age'
vehicles_df_cleaned['year'] = pd.to_datetime(vehicles_df_cleaned['year'], format='%Y', errors='coerce')
current_year = pd.to_datetime('today').year
vehicles_df_cleaned['age'] = current_year - vehicles_df_cleaned['year'].dt.year
vehicles_df_cleaned.drop(columns=['year'], inplace=True)

# Replace Specific Manufacturer Names
vehicles_df_cleaned['manufacturer'] = vehicles_df_cleaned['manufacturer'].replace({
    'rover': 'land rover',
    'mini': 'bmw'
})

# Update 'fuel' and 'cylinders' for 'tesla' Models
tesla_mask = vehicles_df_cleaned['manufacturer'].str.lower() == 'tesla'
vehicles_df_cleaned.loc[tesla_mask, ['fuel', 'cylinders']] = ['electric', 'none']

# Update the 'type' Column Based on Conditions
jeep_mask = vehicles_df_cleaned['manufacturer'].str.lower() == 'jeep'
vehicles_df_cleaned.loc[jeep_mask, 'type'] = 'SUV'
accord_mask = vehicles_df_cleaned['model'].str.lower() == 'accord'
vehicles_df_cleaned.loc[accord_mask, 'type'] = 'sedan'

# Handle Missing Values in Other Columns
vehicles_df_cleaned['fuel'] = vehicles_df_cleaned['fuel'].fillna('gas').replace('other', 'gas')
vehicles_df_cleaned['transmission'] = vehicles_df_cleaned['transmission'].fillna('automatic').replace('other', 'automatic')
vehicles_df_cleaned['condition'] = vehicles_df_cleaned['condition'].fillna('unknown').replace('new', 'like new')

# Fill Missing Values in All Categorical and Numerical Columns
categorical_columns = vehicles_df_cleaned.select_dtypes(include=['object']).columns
vehicles_df_cleaned.loc[:, categorical_columns] = vehicles_df_cleaned[categorical_columns].fillna('unknown')
numerical_columns = vehicles_df_cleaned.select_dtypes(include=['number']).columns
vehicles_df_cleaned.loc[:, numerical_columns] = vehicles_df_cleaned[numerical_columns].fillna(
    vehicles_df_cleaned[numerical_columns].median()
)

# Convert 'odometer' to Integer
vehicles_df_cleaned['odometer'] = vehicles_df_cleaned['odometer'].astype(int)

# Map 'type' to 'vehicle_category'
type_mapping = {
    'pickup': 'Truck/Van',
    'truck': 'Truck/Van',
    'van': 'Truck/Van',
    'mini-van': 'Truck/Van',
    'coupe': 'Car',
    'sedan': 'Car',
    'hatchback': 'Car',
    'convertible': 'Car',
    'wagon': 'Car',
    'SUV': 'SUV/Offroad',
    'offroad': 'SUV/Offroad',
    'bus': 'Commercial/Other',
    'other': 'Commercial/Other',
    'unknown': 'Commercial/Other'
}
vehicles_df_cleaned['vehicle_category'] = vehicles_df_cleaned['type'].map(type_mapping)
vehicles_df_cleaned['vehicle_category'] = vehicles_df_cleaned['vehicle_category'].fillna('Commercial/Other')

# Apply One-Hot Encoding to Categorical Columns
dummy_columns = ['condition', 'title_status', 'vehicle_category', 'fuel', 'transmission']
dummies = pd.get_dummies(vehicles_df_cleaned[dummy_columns], prefix=dummy_columns)
dummies = dummies.astype(int)

# Check unique values in 'cylinders' before get_dummies
print("Unique values in 'cylinders':", vehicles_df_cleaned['cylinders'].unique())

# Convert 'cylinders' and 'drive' to Integer and Apply One-Hot Encoding
vehicles_df_cleaned['cylinders'] = pd.to_numeric(vehicles_df_cleaned['cylinders'], errors='coerce').fillna(0).astype(int)
vehicles_df_cleaned['drive'] = vehicles_df_cleaned['drive'].astype(str)
cyl_dummies = pd.get_dummies(vehicles_df_cleaned['cylinders'], prefix='cyl')
cyl_dummies = cyl_dummies.astype(int)
drive_dummies = pd.get_dummies(vehicles_df_cleaned['drive'], prefix='drive')
drive_dummies = drive_dummies.astype(int)

# Concatenate Dummy Variables with the Original DataFrame
columns_to_drop_for_dummies = ['condition', 'title_status', 'type', 'vehicle_category', 'fuel', 'transmission', 'cylinders', 'drive']
vehicles_df_final = vehicles_df_cleaned.drop(columns=columns_to_drop_for_dummies)
vehicles_df_final = pd.concat([vehicles_df_final, dummies, cyl_dummies, drive_dummies], axis=1)

# Reset the index of the final DataFrame
vehicles_df_final.reset_index(drop=True, inplace=True)

# Display the Final DataFrame
print("\nFinal DataFrame:")
print(vehicles_df_final.head())

Unique values in 'cylinders': [8 6 4 5 10 3 'none' 12]

Final DataFrame:
           id  region  price manufacturer                     model  odometer  \
0  7316814884  auburn  33590          gmc  sierra 1500 crew cab slt     57923
1  7316814758  auburn  22590    chevrolet            silverado 1500     71229
2  7316814989  auburn  39590    chevrolet       silverado 1500 crew     19160
3  7316743432  auburn  30990       toyota      tundra double cab sr     41124
4  7316356412  auburn  15000         ford                 f-150 xlt    128000

  paint_color state  age  condition_excellent  ...  cyl_3  cyl_4  cyl_5  \
0       white    al   10                    0  ...      0      0      0
1        blue    al   14                    0  ...      0      0      0
2         red    al    4                    0  ...      0      0      0
3         red    al    7                    0  ...      0      0      0
4       black    al   11                    1  ...      0      0      0

   cyl_6  cyl_8  cyl_10  cyl_12  drive_4wd  drive_fwd  drive_rwd
0      0      1       0       0          1          0          0
1      0      1       0       0          1          0          0
2      0      1       0       0          1          0          0
3      0      1       0       0          1          0          0
4      1      0       0       0          0          0          1

[5 rows x 43 columns]

In [81]:
pd.options.display.max_columns = None
vehicles_df_final.head(5)

,id,region,price,manufacturer,model,odometer,paint_color,state,age,condition_excellent,condition_fair,condition_good,condition_like new,condition_salvage,condition_unknown,title_status_clean,title_status_lien,title_status_missing,title_status_parts only,title_status_rebuilt,title_status_salvage,title_status_unknown,vehicle_category_Car,vehicle_category_Commercial/Other,vehicle_category_SUV/Offroad,vehicle_category_Truck/Van,fuel_diesel,fuel_electric,fuel_gas,fuel_hybrid,transmission_automatic,transmission_manual,cyl_0,cyl_3,cyl_4,cyl_5,cyl_6,cyl_8,cyl_10,cyl_12,drive_4wd,drive_fwd,drive_rwd
0,7316814884,auburn,33590,gmc,sierra 1500 crew cab slt,57923,white,al,10,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0
1,7316814758,auburn,22590,chevrolet,silverado 1500,71229,blue,al,14,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0
2,7316814989,auburn,39590,chevrolet,silverado 1500 crew,19160,red,al,4,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0
3,7316743432,auburn,30990,toyota,tundra double cab sr,41124,red,al,7,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0
4,7316356412,auburn,15000,ford,f-150 xlt,128000,black,al,11,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight on drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine tuning their inventory.